<div class="container">
    <div class="user-card">
      <div class="user-image">
        <img src="{{ users.avatar }}" alt="User Avatar">
      </div>
      <div class="user-details">
        <h4>First Name: {{ users.first_name }}</h4>
        <h4>Last Name: {{ users.last_name }}</h4>
        <h4>Email: {{ users.email }}</h4>
      </div>
    </div>
    <div class="button-container">
        <button routerLink="/allusers" class="btn btn-info rounded-1 border-0 text-white px-4">Back</button>
    </div>
  </div>
  

  